body {
    background-image: url('../src/img/concrete-texture.png');
    padding-left: 15px;
    padding-right: 15px;   
}

#gameContainer {
    height: 350px;
    width: 550px;
    margin: 0 auto;
}

#startBtn {
    margin-top: 20px;
}

#welcomeMessage {
    margin-top: 20px;
}

#gameDiv {
    padding-top: 20px;
}
